<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.kodango.switchdns</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>15299C7A-CDEA-4359-8898-446F2892DB7C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF316160-82F1-4AC1-8D82-72A1F0AC9ED6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>FF316160-82F1-4AC1-8D82-72A1F0AC9ED6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A70A4E1E-712E-4575-967A-0AA64960904D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>kodango</string>
	<key>description</key>
	<string>快速切换 DNS 服务器设置</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Switch DNS</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>#!/bin/bash

#
# Description: switch DNS profile quickly
# Author: kodango &lt;dangoakachan@foxmail.com&gt;
#

# DNS profiles
# profile name::dns servers
DNS_PROFILES=$(cat &lt;&lt;EOF
Default DNS::empty
Alibaba Public DNS::223.5.5.5 223.6.6.6
V2EX Public DNS::199.91.73.222 178.79.131.110
114 Public DNS::114.114.114.114 114.114.115.115
Google Public DNS::8.8.8.8 8.8.4.4
OpenerDNS::42.120.21.30
EOF
)

# Swith to matched dns profile
function switch_dns()
{
    local dns_profile=$(echo "$DNS_PROFILES" | grep -iE "$1")
    local dns_name dns_servers

    dns_name=$(echo "$dns_profile" | awk -F:: '{print $1;exit}')
    dns_servers=$(echo "$dns_profile" | awk -F:: '{print $2;exit}')

    if [ -z "$dns_name" ]; then
        echo "没有找到匹配的 DNS 配置: '$1'"
        return
    fi

    # Get the current network device and corresponding network service name
    local curr_net_dev=$(netstat -rn | awk '/default/{print $NF}')
    local curr_net_serv=$(networksetup -listnetworkserviceorder | \
        awk "/$curr_net_dev/{print \$3}" | tr -d ', ')

    # Clear the dns 
    dscacheutil -flushcache

    # Set the dns servers
    networksetup -setdnsservers "$curr_net_serv" $dns_servers
    #networksetup -getdnsservers "$curr_net_serv"

    echo "切换 DNS 配置到 '$dns_name'"
}

switch_dns "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FF316160-82F1-4AC1-8D82-72A1F0AC9ED6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>dns</string>
				<key>subtext</key>
				<string>快速切换 DNS 服务器设置</string>
				<key>text</key>
				<string>Switch DNS</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>15299C7A-CDEA-4359-8898-446F2892DB7C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Switch DNS</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A70A4E1E-712E-4575-967A-0AA64960904D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>15299C7A-CDEA-4359-8898-446F2892DB7C</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>A70A4E1E-712E-4575-967A-0AA64960904D</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>FF316160-82F1-4AC1-8D82-72A1F0AC9ED6</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://kodango.com/alfred-switchdns</string>
</dict>
</plist>
